.dashboard {
  display: flex;
  height: 793px;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
  width: 100%;
  min-width: 1143px;
}

.dashboard .sidebar {
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 793px;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #e5e7eb;
}

.dashboard .container {
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 101px;
  align-items: flex-start;
  gap: 4px;
  padding: 24px 24px 1px;
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e5e7eb;
}

.dashboard .heading {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 28px;
}

.dashboard .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #101727;
  font-size: 20px;
  letter-spacing: -0.45px;
  line-height: 28px;
  white-space: nowrap;
}

.dashboard .div {
  height: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.dashboard .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #697282;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.dashboard .navigation {
  display: flex;
  flex-direction: column;
  width: 255px;
  align-items: flex-start;
  gap: 24px;
  padding: 16px 16px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.dashboard .button {
  all: unset;
  box-sizing: border-box;
  height: 44px;
  gap: 12px;
  padding: 0px 0px 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #eff6ff;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.dashboard .icon {
  position: relative;
  width: 20px;
  height: 20px;
}

.dashboard .vector {
  position: absolute;
  width: 25.00%;
  height: 37.50%;
  top: 45.83%;
  left: 33.33%;
}

.dashboard .img {
  position: absolute;
  width: 75.00%;
  height: 79.16%;
  top: 4.17%;
  left: 8.33%;
}

.dashboard .text {
  position: relative;
  width: 70.44px;
  height: 20px;
}

.dashboard .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #155cfb;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.dashboard .container-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 212px;
}

.dashboard .topics-wrapper {
  display: flex;
  width: 48px;
  height: 15px;
  align-items: flex-start;
  position: absolute;
  top: 6px;
  left: 16px;
}

.dashboard .topics {
  margin-right: -0.02px;
  font-weight: 500;
  color: #697282;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  white-space: nowrap;
}

.dashboard .button-2 {
  all: unset;
  box-sizing: border-box;
  width: 223px;
  height: 64px;
  gap: 12px;
  padding: 0px 16px;
  position: absolute;
  top: 32px;
  left: 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.dashboard .vector-2 {
  position: absolute;
  width: 0;
  height: 58.33%;
  top: 25.00%;
  left: 45.83%;
}

.dashboard .vector-3 {
  position: absolute;
  width: 83.33%;
  height: 75.00%;
  top: 8.33%;
  left: 4.17%;
}

.dashboard .div-wrapper {
  position: relative;
  width: 159px;
  height: 40px;
}

.dashboard .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 159px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #354152;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.dashboard .button-3 {
  all: unset;
  box-sizing: border-box;
  width: 223px;
  height: 44px;
  gap: 12px;
  padding: 0px 0px 0px 16px;
  position: absolute;
  top: 100px;
  left: 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.dashboard .text-2 {
  position: relative;
  width: 120.05px;
  height: 20px;
}

.dashboard .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #354152;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.dashboard .button-4 {
  all: unset;
  box-sizing: border-box;
  width: 223px;
  height: 64px;
  gap: 12px;
  padding: 0px 16px;
  position: absolute;
  top: 148px;
  left: 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.dashboard .text-3 {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 40px;
}

.dashboard .text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #354152;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.dashboard .container-3 {
  display: flex;
  flex-direction: column;
  height: 793px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.dashboard .top-bar {
  display: flex;
  width: 887px;
  height: 64px;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 32px 0px 0px;
  position: relative;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e5e7eb;
}

.dashboard .container-4 {
  display: flex;
  width: 202.36px;
  height: 36px;
  align-items: center;
  gap: 16px;
  position: relative;
}

.dashboard .button-5 {
  all: unset;
  box-sizing: border-box;
  width: 91.31px;
  height: 36px;
  gap: 8px;
  padding: 0px 12px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.dashboard .icon-2 {
  position: relative;
  width: 18px;
  height: 18px;
}

.dashboard .vector-4 {
  position: absolute;
  width: 58.33%;
  height: 25.00%;
  top: 58.33%;
  left: 16.67%;
}

.dashboard .vector-5 {
  position: absolute;
  width: 33.33%;
  height: 33.33%;
  top: 8.33%;
  left: 29.17%;
}

.dashboard .text-4 {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 20px;
}

.dashboard .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #354152;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.dashboard .button-6 {
  all: unset;
  box-sizing: border-box;
  height: 36px;
  gap: 8px;
  padding: 0px 12px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.dashboard .vector-6 {
  position: absolute;
  width: 25.00%;
  height: 75.00%;
  top: 8.33%;
  left: 8.33%;
}

.dashboard .vector-7 {
  position: absolute;
  width: 20.83%;
  height: 41.67%;
  top: 25.00%;
  left: 62.50%;
}

.dashboard .vector-8 {
  position: absolute;
  width: 50.00%;
  height: 0;
  top: 45.83%;
  left: 33.33%;
}

.dashboard .main-content {
  display: flex;
  flex-direction: column;
  width: 887px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.dashboard .div-2 {
  display: flex;
  flex-direction: column;
  height: 704px;
  align-items: flex-start;
  gap: 32px;
  padding: 32px 32px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.dashboard .container-5 {
  display: flex;
  flex-direction: column;
  height: 64px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.dashboard .heading-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 32px;
}

.dashboard .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #101727;
  font-size: 24px;
  letter-spacing: 0.07px;
  line-height: 32px;
  white-space: nowrap;
}

.dashboard .paragraph {
  height: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.dashboard .p {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.dashboard .container-6 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  height: 118px;
  gap: 24px;
  position: absolute;
  top: 128px;
  left: 32px;
  width: 823px;
}

.dashboard .container-7 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e5e7eb;
}

.dashboard .text-5 {
  display: flex;
  width: 106px;
  height: 17px;
  align-items: flex-start;
  position: absolute;
  top: 29px;
  left: 25px;
}

.dashboard .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-bottom: -2.00px;
  margin-right: -0.75px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.dashboard .container-8 {
  display: flex;
  width: 138px;
  height: 36px;
  align-items: flex-start;
  position: absolute;
  top: 57px;
  left: 25px;
}

.dashboard .text-wrapper-10 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #101727;
  font-size: 30px;
  letter-spacing: 0.40px;
  line-height: 36px;
}

.dashboard .container-9 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e5e7eb;
}

.dashboard .text-6 {
  display: flex;
  width: 117px;
  height: 17px;
  align-items: flex-start;
  position: absolute;
  top: 29px;
  left: 25px;
}

.dashboard .text-wrapper-11 {
  margin-bottom: -2.00px;
  margin-right: -1.39px;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  white-space: nowrap;
}

.dashboard .container-10 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e5e7eb;
}

.dashboard .text-7 {
  display: flex;
  width: 83px;
  height: 17px;
  align-items: flex-start;
  position: absolute;
  top: 29px;
  left: 25px;
}

.dashboard .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-bottom: -2.00px;
  margin-right: -1.03px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.dashboard .container-11 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e5e7eb;
}

.dashboard .text-8 {
  display: flex;
  width: 108px;
  height: 17px;
  align-items: flex-start;
  position: absolute;
  top: 29px;
  left: 25px;
}

.dashboard .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-bottom: -2.00px;
  margin-right: -1.65px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.dashboard .container-12 {
  display: flex;
  flex-direction: column;
  height: 394px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.dashboard .text-wrapper-14 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #101727;
  font-size: 18px;
  letter-spacing: -0.44px;
  line-height: 28px;
  white-space: nowrap;
}

.dashboard .container-13 {
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.dashboard .container-wrapper {
  display: flex;
  flex-direction: column;
  height: 106px;
  align-items: flex-start;
  padding: 15px 25px 1px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e5e7eb;
}

.dashboard .container-14 {
  display: flex;
  height: 76px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.dashboard .container-15 {
  display: flex;
  flex-direction: column;
  height: 56px;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.dashboard .container-16 {
  display: flex;
  height: 24px;
  align-items: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.dashboard .heading-3 {
  position: relative;
  width: 193.11px;
  height: 24px;
}

.dashboard .text-wrapper-15 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #101727;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.dashboard .text-9 {
  display: flex;
  width: 79.7px;
  height: 24px;
  align-items: flex-start;
  padding: 4px 8px;
  position: relative;
  background-color: #eff6ff;
  border-radius: 4px;
}

.dashboard .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-right: -0.30px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #1347e5;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.dashboard .container-17 {
  display: flex;
  height: 20px;
  align-items: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.dashboard .text-10 {
  position: relative;
  width: 95.89px;
  height: 20px;
}

.dashboard .text-wrapper-17 {
  width: 96px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.dashboard .text-11 {
  position: relative;
  width: 63.69px;
  height: 20px;
}

.dashboard .text-wrapper-18 {
  width: 64px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.dashboard .icon-wrapper {
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 20px;
  align-items: flex-start;
  position: relative;
}

.dashboard .vector-9 {
  position: absolute;
  width: 58.33%;
  height: 0;
  top: 45.83%;
  left: 16.67%;
}

.dashboard .vector-10 {
  position: absolute;
  width: 29.17%;
  height: 58.33%;
  top: 16.67%;
  left: 45.83%;
}

.dashboard .container-18 {
  display: flex;
  height: 56px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.dashboard .heading-4 {
  width: 137.98px;
  position: relative;
  height: 24px;
}

.dashboard .text-12 {
  position: relative;
  width: 90.48px;
  height: 20px;
}

.dashboard .text-wrapper-19 {
  width: 91px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.dashboard .text-13 {
  position: relative;
  width: 61.41px;
  height: 20px;
}

.dashboard .text-wrapper-20 {
  width: 62px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.dashboard .heading-5 {
  width: 212.25px;
  position: relative;
  height: 24px;
}

.dashboard .text-14 {
  display: flex;
  width: 81.55px;
  height: 24px;
  align-items: flex-start;
  padding: 4px 8px;
  position: relative;
  background-color: #f3f4f6;
  border-radius: 4px;
}

.dashboard .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-right: -1.45px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.dashboard .text-15 {
  position: relative;
  width: 90.39px;
  height: 20px;
}

.dashboard .text-16 {
  position: relative;
  width: 63.73px;
  height: 20px;
}
/* INJECT ORIGINAL CSS CODE HERE */

/* Refactored CSS - Accessibility and Semantic Enhancements */

.dashboard .button,
.dashboard .button-2,
.dashboard .button-3,
.dashboard .button-4,
.dashboard .button-5,
.dashboard .button-6 {
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.dashboard .button:hover,
.dashboard .button-2:hover,
.dashboard .button-3:hover,
.dashboard .button-4:hover,
.dashboard .button-5:hover {
  background-color: #dbeafe;
}

.dashboard .button-6:hover {
  background-color: #f3f4f6;
}

.dashboard .button:active,
.dashboard .button-2:active,
.dashboard .button-3:active,
.dashboard .button-4:active,
.dashboard .button-5:active,
.dashboard .button-6:active {
  transform: scale(0.98);
}

.dashboard .icon-wrapper {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.dashboard .icon-wrapper:hover {
  opacity: 0.7;
}

.dashboard .icon-wrapper:focus-visible {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
  border-radius: 4px;
}

.dashboard .container-wrapper {
  transition: box-shadow 0.2s ease, transform 0.1s ease;
}

.dashboard .container-wrapper:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px
    rgba(0, 0, 0, 0.06);
  transform: translateY(-2px);
}

.dashboard .sidebar {
  overflow-y: auto;
}

.dashboard .main-content {
  overflow-y: auto;
}

@media (max-width: 1143px) {
  .dashboard {
    min-width: auto;
    flex-direction: column;
  }

  .dashboard .sidebar {
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #e5e7eb;
  }

  .dashboard .container-3 {
    width: 100%;
  }

  .dashboard .top-bar {
    width: 100%;
  }

  .dashboard .main-content {
    width: 100%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .dashboard .button,
  .dashboard .button-2,
  .dashboard .button-3,
  .dashboard .button-4,
  .dashboard .button-5,
  .dashboard .button-6,
  .dashboard .icon-wrapper,
  .dashboard .container-wrapper {
    transition: none;
  }
}

.dashboard .button:focus-visible,
.dashboard .button-2:focus-visible,
.dashboard .button-3:focus-visible,
.dashboard .button-4:focus-visible,
.dashboard .button-5:focus-visible,
.dashboard .button-6:focus-visible {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.dashboard a {
  text-decoration: none;
  color: inherit;
}

.dashboard a:focus-visible {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
  border-radius: 10px;
}
